<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav id="navbar">
      <img src="/images/bobafett.png" alt="logo" />
      <h1>The Room App</h1>
      <button><a href="/auth/logout">Logout</a></button>
    </nav>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>